@{
    var siteName = ViewData["Title"] != null ? $"{ViewData["Title"]} | SiteName" : "SiteName";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@siteName</title>
<link href="/app.css?3473f13b979495688932" rel="stylesheet"></head>
<body>
    @RenderBody()
<script type="text/javascript" src="/app.js?3473f13b979495688932"></script></body>
</html>
